.builderPageWrapper {
    width: 100%;
    min-height: calc(100svh - 60px);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.desktopHeader {
    position: sticky;
    top: 60px;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 2;
    font-size: 14px;
}
.headerInner {
    position: relative;
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
}
.skillsHeaderDesktop {
    width: 25%;
    text-align: center;
    background: #0A0A0A;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gearHeaderDesktop {
    width: 50%;
    text-align: center;
    background: #0A0A0A;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statsHeaderDesktop {
    width: 25%;
    text-align: center;
    background: #0A0A0A;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% / 3);
    height: 2px;
    background: #fff;
    z-index: 2;
    transition: 0.2s;
}
.mobileHeader {
    position: sticky;
    top: 60px;
    left: 0;
    width: 100%;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: #0A0A0A;
    z-index: 2;
}
.skillsHeaderMobile,
.gearHeaderMobile,
.statsHeaderMobile {
    width: 100%;
    background: transparent;
    color: rgba(255, 255, 255, 0.6);
    height: 100%;
    font-size: 14px;
    border: none;
}
.selected {
    border-color: #fff;
    color: #fff;
}
.builderPageInnerDesktop {
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    padding: 10px 10px 20px 10px;
}
.builderPageInnerMobile {
    width: 100%;
    max-width: 1600px;
    display: none;
    justify-content: start;
    align-items: start;
    padding: 0 10px 10px 10px;
}
.skillsContainer {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.noSkills {
    color: #fff;
}
.gearContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.skillBonusRefContainer {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
    font-size: 14px;
}
.setBonusRef {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #fff;
}
.setBonusRef span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #F2BBAA;
}
.groupBonusRef {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #fff;
}
.groupBonusRef span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #AAF1F2;
}
.armorPieceContainer {
    width: 100%;
    cursor: pointer;
}
.armorPieceContainer:hover {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
}
.statsContainer {
    position: sticky;
    top: 120px;
    width: 25%;
}

.builderPage {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 100%;
}
.spinnerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    gap: 8px;
}
.spinner {
    width: 26px;
    height: 26px;
    border-radius: 999px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top-color: rgba(255, 255, 255, 1);
    animation: spin 0.8s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
@media(max-width: 970px) {
    .builderPageInnerDesktop {
        display: none;
    }
    .builderPageInnerMobile {
        display: flex;
    }
    .desktopHeader {
        display: none;
    }
    .mobileHeader {
        display: flex;
    }
    .gearContainer {
        width: 100%;
    }
    .skillsContainer {
        order: 1;
        width: 100%;
    }
    .statsContainer {
        width: 100%;
        order: 2;
    }
}