.builderPage {
    width: 100%;
    height: calc(100svh - 100px);
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
}
.builderPageInner {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
}
.skillsContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:  5px;
}
.placeholder {
    width: 100%;
    background: transparent;
    height: 200px;
}
.gearContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.armorPieceContainer {
    width: 100%;
    cursor: pointer;
}
.armorPieceContainer:hover {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
}
.statsContainer {
    width: 50%;
}

.builderPage {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.spinnerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    gap: 8px;
}
.spinner {
    width: 26px;
    height: 26px;
    border-radius: 999px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top-color: rgba(255, 255, 255, 1);
    animation: spin 0.8s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
@media(max-width: 900px) {
    .builderPageInner {
        flex-direction: column;
    }
    .skillsContainer {
        order: 1;
        width: 100%;
    }
    .statsContainer {
        width: 100%;
        order: 2;
    }
}