.charmCreatorWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #101219;
    transform: translateY(100%);
    transition: 0.3s;
}
.open {
    transform: translateY(0);
}
.charmCreatorInner {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 60px;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.charmCreatorInner h3 {
    color: #fff;
}
.backBtn {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
}
.backBtn:hover {
    background: rgba(255, 255, 255, 0.05);
}
.arrowLeftIcon {
    width: 20px;
    height: 20px;
    color: #fff;
}
.skillsContainer, .decoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    padding: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.decoSlotsContainer {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.decoCard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 8px 5px 5px;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    will-change: transform;
    transition: 0.1s;
    cursor: pointer;
}
.decoCard:hover {
    background: rgba(255, 255, 255, 0.05);
}
.decoCard:active {
    transform: scale(0.95);
}
.decoCard.selected {
    background: rgba(255, 255, 255, 0.1);
    border-color: #fff;
}
.decoSlot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.msgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.msg {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}
.msgContainer span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.msgContainer span > * {
    width: 20px;
    height: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.addSkillBtn {
    width: 200px;
    height: 34px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: transparent;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
.addSkillBtn:hover {
    background: rgba(255, 255, 255, 0.05);
}
.addSkillBtn:disabled {
    opacity: 0.7;
    pointer-events: none;
}
.reinforcement {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.reinforcementWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.reinforcementInner {
    width: 100%;
    height: 44px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
}
.reinforcementInnerLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.reinforcementInner p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.reinforcementInner:hover {
    border-color: rgba(255, 255, 255, 0.2);
}
.reinforcementDropdown {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background: #101219;
    z-index: 3;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dropdownSkillsContainer::-webkit-scrollbar {
    width: 10px;
}
.dropdownSkillsContainer::-webkit-scrollbar-track {
    background: transparent;
}
.dropdownSkillsContainer::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.chevronIcon {
    width: 16px;
    height: 16px;
    color: #fff;
}
.dropdownSkillsContainer button:hover {
    background: rgba(255, 255, 255, 0.1);
}
.dropdownSkillsContainer {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 0 5px 5px 5px;
    overflow: auto;
}
.dropdownSkillsContainer button {
    width: 100%;
    color: #fff;
    border: none;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: 300;
}
.searchContainer input:focus {
    border-color: #fff;
}
.searchContainer {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 5px;
    background: #101219;
}
.searchContainer input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    outline: none;
    border-radius: 6px;
    padding: 0 10px;
    color: #fff;
    font-size: 16px;
}
.skillLvlContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
.skillLvlContainer button {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
}
.skillLvlContainer button:hover {
    background: rgba(255, 255, 255, 0.1);
}
.lvlWrapper {
    position: relative;
    width: 80px;
    height: 44px;
}
.lvlContainer {
    height: 100%;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 10px;
    cursor: pointer;
}
.lvlContainer:hover {
    border-color: rgba(255, 255, 255, 0.2);
}
.deleteBtn {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    flex-shrink: 0;
}
.deleteBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}
.deleteBtn > * {
    color: #fff;
    width: 22px;
    height: 22px;
}
.addBtnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.addBtn {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: none;
    border-radius: 50px;
    color: #000;
    cursor: pointer;
    transition: 0.2s;
}
.addBtn:hover {
    opacity: 0.7;
}
.addBtn:disabled {
    opacity: 0.3;
    pointer-events: none;
}
.addBtn:disabled:hover {
    opacity: 0.3;
}

@media (max-width: 500px) {
    .skillsContainer {
        padding: 30px 10px;
    }
    .decoContainer {
        padding: 30px 10px;
    }
    .addBtnContainer {
        padding: 30px 10px;
    }
}

.skillIcon {
    display: inline-block;
    flex-shrink: 0;
    width: calc(100px * var(--size-factor));
    height: calc(100px * var(--size-factor));
    background-image: url("@/app/assets/skills.png");
    background-size: calc(1400px * var(--size-factor)) calc(100px * var(--size-factor)); /* or set to sheet width/height if scaling */
    background-repeat: no-repeat;
}
.skill1 {
    background-position: 0 0;
}
.skill2 {
    background-position: calc(-100px * var(--size-factor)) 0;
}
.skill3 {
    background-position: calc(-200px * var(--size-factor)) 0;
}
.skill4 {
    background-position: calc(-300px * var(--size-factor)) 0;
}
.skill5 {
    background-position: calc(-400px * var(--size-factor)) 0;
}
.skill6 {
    background-position: calc(-500px * var(--size-factor)) 0;
}
.skill7 {
    background-position: calc(-600px * var(--size-factor)) 0;
}
.skill8 {
    background-position: calc(-700px * var(--size-factor)) 0;
}
.skill9 {
    background-position: calc(-800px * var(--size-factor)) 0;
}
.skill10 {
    background-position: calc(-900px * var(--size-factor)) 0;
}
.skill11 {
    background-position: calc(-1000px * var(--size-factor)) 0;
}
.skill12 {
    background-position: calc(-1100px * var(--size-factor)) 0;
}
.skill13 {
    background-position: calc(-1200px * var(--size-factor)) 0;
}
.skill14 {
    background-position: calc(-1300px * var(--size-factor)) 0;
}

.decoIcon {
    display: inline-block;
    flex-shrink: 0;
    width: calc(33px * 0.8);
    height: calc(33px * 0.8);
    background-image: url("@/app/assets/decorations.png");
    background-size: calc(660px * 0.8) calc(840px * 0.8); /* or set to sheet width/height if scaling */
    background-repeat: no-repeat;
}
.deco1 {
    background-position: 0 0;
}
.deco2 {
    background-position: calc((-33px * 5) * 0.8) 0;
}
.deco3 {
    background-position: calc((-33px * 10) * 0.8) 0;
}
.decoW1 {
    background-position: 0 0;
}