:root {
    --weapon-icon-size: 0.50;
    --stats-icon-size: 0.30;
}

.gearSelectorContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.15s;
    animation: fadeIn 0.15s;
    z-index: 2;
    padding: 10px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes scaleIn {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}
.gearSelectorContainer.open {
    visibility: visible;
    opacity: 1;
}
.gearSelectorInner {
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 800px;
    background: #080808;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transform: scale(0.9);
    transition: 0.15s;
    animation: scaleIn 0.15s;
}

.gearSelectorContainer.open .gearSelectorInner {
    transform: scale(1);
}
.gearSelectorInner .info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: #fff;
    gap: 20px;
}
.info .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info .header button {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info .header button > * {
    width: 22px;
    height: 22px;
    color: #fff;
}
.info .header button:hover {
    background: rgba(255, 255, 255, 0.1);
}
.info .searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    width: 100%;
}
.info .searchContainer input {
    width: 100%;
    outline: none;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
}
.info .searchContainer input:hover {
    border-color: rgba(255, 255, 255, 0.2);
}
.info .searchContainer input:focus {
    border-color: #fff;
}
.main {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding-right: 5px;
}
.mainInner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
}
.gearContainer {
    width: 100%;
    cursor: pointer;
    border-radius: 16px;
}
.gearContainer:hover {
    background: rgba(255, 255, 255, 0.03);
}
.decoContainer {
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
}
.decoContainer:hover {
    background: rgba(255, 255, 255, 0.03);
}
.main::-webkit-scrollbar {
    width: 10px;
}
.main::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}
.main::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.inputFilterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}
.weaponSelectorWrapper {
    height: 100%;
    position: relative;
}
.weaponSelector {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    position: relative;
    gap: 5px;
    padding: 0 5px;
    background: rgba(255, 255, 255, 0.05);
}
.weaponSelectorLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.weaponSelector:hover {
    background: rgba(255, 255, 255, 0.1);
}
.weaponDropdown {
    display: none;
    position: absolute;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    background: #141414;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    z-index: 3;
    overflow: hidden;
    padding: 5px;
}
.weaponDropdown button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    gap: 5px;
}
.weaponDropdown button:hover {
    background: rgba(255, 255, 255, 0.05);
}
.weaponDropdown.open {
    display: flex;
}
.dropDownIcon {
    width: 14px;
    height: 14px;
    color: #fff;
    flex-shrink: 0;
}
.weaponSelectorContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    z-index: 2;
}
.skillsComponentContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.equipmentSkillsContainer {
    width: 100%;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
}
.equipSkillsHeader {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    cursor: pointer;
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.05);
}
.equipSkillsHeader:hover {
    background: rgba(255, 255, 255, 0.07);
}
.equipSkillsHeader p {
    line-height: 1;
}
.chevronIcon {
    width: 20px;
    height: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.equipSkillsHeader span.rotated {
    transform: rotate(180deg);
}
.equipSkillsContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #808080;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.bonusSkillsContainer {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 14px;
    gap: 5px;
}
.bonusSkill {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}
.bonusSkillRanksContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.bonusSkillTitle {
    color: #fff;
}
.rank {
    color: rgba(255, 255, 255, 0.3);

}
.rank.active {
    color: #fff;
}
.rank.notActive {
    text-decoration: line-through;
}
.buildPieceContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 6px;
    color: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 6px;
    background: rgba(255, 255, 255, 0.05);
}
.buildPieceInfo {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}
.pieceTitle {
    font-weight: 500;
}
.gearPieceSkillsContainer {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}
.setBonusSkillName {
    color: #ffeb6b;
}
.groupSkillName {
    color: #6ba4ff;
}
.pieceContainerHeader {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 40px 10px 10px;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
}
.pieceContainerHeader:hover {
    background: transparent;
}
.pieceContainerHeader:hover:not(:has(button:hover)) {
    background: rgba(255, 255, 255, 0.05);
}
.weaponStatsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.rawValContainer,
.affinityValContainer,
.elementValContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.rawValContainer p,
.affinityValContainer p,
.elementValContainer p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}
.weaponSharpness {
    width: 150px;
    height: 6px;
    display: flex;
    justify-content: start;
    align-items: center;
    background: transparent;
    gap: 2px;
}
.sharpnessColor {
    height: 100%;
}
.red {
    background: #ff6b6b;
}
.orange {
    background: #ff906b
}
.yellow {
    background: #ffeb6b;
}
.green {
    background: #6bff6e;
}
.blue {
    background: #6ba4ff;
}
.white {
    background: white;
}
.deleteBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.deleteBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}
.deleteBtn > * {
    width: 22px;
    height: 22px;
    color: #fff;
}
.decoSlotsContainer {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.slot {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    min-height: 30px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
    padding: 0 0 0 2px;
}
.slot:hover:not(:has(button:hover)) {
    background: rgba(255, 255, 255, 0.1);
}
.slottedDeco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 5px;
}
.decoDeleteBtn {
    border: none;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}
.decoDeleteBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}
.decoDeleteBtn > * {
    width: 22px;
    height: 22px;
    color: #fff;
}
.decoDash {
    height: 100%;
    padding-left: 8px;
    color: #b3b3b3;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillsContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.decorationContainer {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    gap: 5px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
}
.decoName {
    font-size: 14px;
}
.decoSkill {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}
.statsInner {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.stamHealth {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: #fff;
}
.healthContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.staminaContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.attackContainer {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}
.attackInner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}
.rawContainer,
.affinityContainer,
.elementContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.elementContainer h4 {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.elementContainerInner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.elementContainerLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.sharpnessContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}
.sharpnessContainer h4 {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.sharpnessNumbers {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    color: #000;
}
.sharpnessNumber {
    padding: 2px;
    border-radius: 4px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.defenseContainer {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}
.defenseContainer > * {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.defenseContainer h3,
.attackContainer h3 {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.attackLeft,
.resLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.decoIcon {
    display: inline-block;
    flex-shrink: 0;
    width: calc(33px * var(--deco-icon-size));
    height: calc(33px * var(--deco-icon-size));
    background-image: url("@/app/assets/decorations.png");
    background-size: calc(660px * var(--deco-icon-size)) calc(840px * var(--deco-icon-size)); /* or set to sheet width/height if scaling */
    background-repeat: no-repeat;
}
.deco1 {
    background-position: 0 0;
}
.deco2 {
    background-position: calc((-33px * 5) * var(--deco-icon-size)) 0;
}
.deco3 {
    background-position: calc((-33px * 10) * var(--deco-icon-size)) 0;
}
.buildPieceIcon {
    display: inline-block;
    flex-shrink: 0;
    width: calc(64px * var(--build-icon-size));
    height: calc(64px * var(--build-icon-size));
    background-image: url("@/app/assets/gear.png");
    background-size: calc(1280px * var(--build-icon-size)) calc(832px * var(--build-icon-size)); /* or set to sheet width/height if scaling */
    background-repeat: no-repeat;
}
.weaponIcon {
    display: inline-block;
    flex-shrink: 0;
    width: calc(64px * var(--weapon-icon-size));
    height: calc(64px * var(--weapon-icon-size));
    background-image: url("../../assets/gear.png");
    background-size: calc(1280px * var(--weapon-icon-size)) calc(832px * var(--weapon-icon-size)); /* or set to sheet width/height if scaling */
    background-repeat: no-repeat;
}
.bow {
    background-position: calc((-64px * 13) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.charge-blade {
    background-position: calc((-64px * 9) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.dual-blades {
    background-position: calc((-64px * 3) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.great-sword {
    background-position: calc((-64px * 1) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.gunlance {
    background-position: calc((-64px * 5) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.hammer {
    background-position: calc((-64px * 6) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.heavy-bowgun {
    background-position: calc((-64px * 12) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.hunting-horn {
    background-position: calc((-64px * 7) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.insect-glaive {
    background-position: calc((-64px * 10) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.lance {
    background-position: calc((-64px * 4) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.light-bowgun {
    background-position: calc((-64px * 11) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.long-sword {
    background-position: calc((-64px * 2) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.switch-axe {
    background-position: calc((-64px * 8) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.sword-shield {
    background-position: 0 calc(-64px * var(--weapon-icon-size));
}

.statsIcon {
    display: inline-block;
    flex-shrink: 0;
    width: calc(64px * var(--stats-icon-size));
    height: calc(64px * var(--stats-icon-size));
    background-image: url("../../assets/status.png");
    background-size: calc(512px * var(--stats-icon-size)) calc(1024px * var(--stats-icon-size)); /* or set to sheet width/height if scaling */
    background-repeat: no-repeat;
}

.damageIcon {
    background-position: calc((-64px * 1) * var(--stats-icon-size)) calc((-64px * 3) * var(--stats-icon-size));
}
.affinityIcon {
    background-position: calc((-64px * 3) * var(--stats-icon-size)) calc((-64px * 3) * var(--stats-icon-size));
}
.elementIcon {
    background-position: calc((-64px * 5) * var(--stats-icon-size)) calc((-64px * 9) * var(--stats-icon-size));
}
.defenseIcon {
    background-position: calc((-64px * 2) * var(--stats-icon-size)) calc((-64px * 3) * var(--stats-icon-size));
}
.fire {
    background-position: calc((-64px * 3) * var(--stats-icon-size)) calc((-64px * 0) * var(--stats-icon-size));
}
.water {
    background-position: calc((-64px * 4) * var(--stats-icon-size)) calc((-64px * 0) * var(--stats-icon-size));
}
.thunder {
    background-position: calc((-64px * 5) * var(--stats-icon-size)) calc((-64px * 0) * var(--stats-icon-size));
}
.ice {
    background-position: calc((-64px * 6) * var(--stats-icon-size)) calc((-64px * 0) * var(--stats-icon-size));
}
.dragon {
    background-position: calc((-64px * 7) * var(--stats-icon-size)) calc((-64px * 0) * var(--stats-icon-size));
}
.poison {
    background-position: calc((-64px * 0) * var(--stats-icon-size)) calc((-64px * 1) * var(--stats-icon-size));
}
.paralysis {
    background-position: calc((-64px * 2) * var(--stats-icon-size)) calc((-64px * 1) * var(--stats-icon-size));
}
.stun {
    background-position: calc((-64px * 3) * var(--stats-icon-size)) calc((-64px * 1) * var(--stats-icon-size));
}
.sleep {
    background-position: calc((-64px * 4) * var(--stats-icon-size)) calc((-64px * 1) * var(--stats-icon-size));
}
.blast {
    background-position: calc((-64px * 5) * var(--stats-icon-size)) calc((-64px * 1) * var(--stats-icon-size));
}
.skillIcon {
    display: inline-block;
    flex-shrink: 0;
    width: calc(100px * var(--size-factor));
    height: calc(100px * var(--size-factor));
    background-image: url("@/app/assets/skills.png");
    background-size: calc(1400px * var(--size-factor)) calc(100px * var(--size-factor)); /* or set to sheet width/height if scaling */
    background-repeat: no-repeat;
}
.setBonusSkill {
    background-position: calc((-100px * var(--size-factor)) * 13) 0;
}
.groupSkill {
    background-position: calc((-100px * var(--size-factor)) * 12) 0;
}
@media (min-width: 800px) and (max-width: 1100px) {
    .buildPieceContainer {
        flex-direction: column;
    }
}
@media (max-width: 500px) {
    .buildPieceContainer {
        flex-direction: column;
    }
    .gearSelectorContainer {
        padding: 0;
    }
    .gearSelectorInner {
        max-width: unset;
        max-height: unset;
        border-radius: 0;
        padding: 10px;
        border: none;
    }
}