.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-height: calc(100svh - 60px);
    background: transparent;
    overflow: hidden;
    position: relative;
}
.glowingCircle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.5) 0%,   /* center brighter */
            rgba(255, 255, 255, 0) 70%     /* edges fade out */
    );
    pointer-events: none; /* so it doesn't block clicks */
    filter: blur(150px);
    z-index: -1;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    background: transparent;
    height: calc(100svh - 60px);
    position: relative;
}
.mainContainer span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.mainLeft {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 60%;
    height: 100%;
    gap: 30px;
    padding: 20px;
}
.mainRight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px;
}
.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
.imgContainer img {
    width: 100%;
    object-fit: cover;
}
.titleContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: #fff;
    text-align: center;
    gap: 5px;
}
.titleContainer h2 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    padding: 6px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.05);
}
.titleContainer h1 {
    color: #fff;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.titleContainer img {
    height: 60px;
}
.mainContainer p {
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    max-width: 600px;
}
.tileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    gap: 10px;
}
.tileHeader {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.comingSoon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    font-size: 12px;
}
.arrowIcon {
    width: 20px;
    height: 20px;
    color: #000;
    transition: 0.2s;
}
.openBuilderBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: none;
    width: 200px;
    height: 50px;
    color: #000;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
    text-decoration: none;
    will-change: transform;
    gap: 10px;
}
.openBuilderBtn:hover {
    opacity: 0.8;
}
.openBuilderBtn:hover .arrowIcon {
    transform: translateX(6px);
}
.openBuilderBtn div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.openBuilderBtn:disabled {
    cursor: not-allowed;
    background: #1d4f32;
}
.offerContainer {
    width: 100%;
    max-width: 1600px;
    height: 1000px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}
.sparklesIcon {
    width: 26px;
    height: 26px;
    color: #fff;
    stroke-width: 2;
}
.titleIcon {
    width: 80px;
    height: 80px;
    color: #fff;
    stroke-width: 2;
    animation: spin 5s infinite linear;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.tileIconContainer {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 5px;
}
.ctaContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 100px 0;
}
.ctaContainer h2 {
    color: #fff;
    font-size: 60px;
}
.ctaContainer p {
    color: rgba(255, 255, 255, 0.6);
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
@media (max-width: 1024px) {
    .homeContainer {
        min-height: calc(100svh - 50px);
    }
    .mainContainer {
        justify-content: start;
        flex-direction: column;
    }
    .titleContainer {
        align-items: center;
    }
    .mainLeft {
        width: 100%;
        align-items: center;
        text-align: center;
        order: 2;
        padding: 20px;
        height: 100%
    }
    .mainRight {
        padding: 0;
        height: calc(100vh / 2.5);
    }
    .imgContainer {
        width: 100%;
        border-radius: 0;
        height: 100%;
        order: 1;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .imgContainer img {
        height: 100%;
    }
}
@media (max-width: 640px) {
    .tileContainer {
        flex-direction: column;
    }
    .titleContainer h2 {
        font-size: 14px;
    }
    .titleContainer h1 {
        font-size: 40px;
    }
    .titleContainer img {
        height: 50px;
    }
}
@media (max-width: 500px) {
    .glowingCircle {
        top: 400px;
        width: 300px;
        filter: blur(150px);
    }
    .worksContainer {
        gap: 35px;
    }
}