.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100svh - 60px);
    background: transparent;
    padding: 0 10px;
}
.buildsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    background: transparent;
    gap: 20px;
}
.buildsContainer span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.homeContainer h1 {
    color: #fff;
    font-size: 20px;
    padding: 14px;
    line-height: 1;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.customBuildBtn {
    width: 100%;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: transparent;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}
.customBuildBtn:hover {
    background: rgba(255, 255, 255, 0.01);
}
.spinnerWrapper {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.spinner {
    width: 30px;
    height: 30px;
    border-radius: 999px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top-color: rgba(255, 255, 255, 1);
    animation: spin 0.6s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}