.artianContainerWrapper {
    position: relative;
    width: 100%;
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    color: #fff;
}
.artianContainer {
    position: relative;
    width: 100%;
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    color: #fff;
    padding-bottom: 50px;
}
.artianHeader {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    padding-top: 50px;
    background: #0A0A0A;
    box-shadow: 0 0 20px 20px #0A0A0A;
}
.artianContainer::-webkit-scrollbar {
    display: none;
}
.artianContainer h3 {
    margin-bottom: 30px;
}
.backBtn {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 368;
}
.backBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}
.arrowLeftIcon {
    width: 20px;
    height: 20px;
    color: #fff;
}
.slideLeft1 {
    transform: translateX(calc(-100% - 20px));
    transition: 0.5s cubic-bezier(0.23, 1.00, 0.32, 1.00);
    opacity: 1;
}
.slideRight1 {
    transform: translateX(0);
    transition: 0.5s cubic-bezier(0.23, 1.00, 0.32, 1.00);
    opacity: 0;
}
.slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 2px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 6px;
    transition: 0.2s;
}
.artian {
    background: #80c8ff;
}
.artian::after {
    position: absolute;
    content: '';
    bottom: 0;
    transform: translateY(50%);
    left: 0;
    width: 100%;
    height: 20px;
    background: #80c8ff;
    border-radius: 50%;
    filter: blur(20px);
}
.gogmaArtian {
    background: #ff5757;
}
.gogmaArtian::after {
    position: absolute;
    content: '';
    bottom: 0;
    transform: translateY(50%);
    left: 0;
    width: 100%;
    height: 20px;
    background: #ff5757;
    border-radius: 50%;
    filter: blur(20px);
}
.artianSelectorWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    z-index: 2;
    padding-top: 10px;
}
.artianSelectorContainer {
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 5px 0;
    background: transparent;
    border-radius: 8px;
}
.selectorBtn {
    position: relative;
    width: 50%;
    height: 40px;
    background: transparent;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
}
.selectorBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}
.weaponSelectorWrapper {
    width: 100%;
    max-width: 300px;
    background: #0A0A0A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    z-index: 3;
    padding: 0 10px;
}
.contentContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0A0A0A;
    z-index: 2;
    padding: 30px 10px;
}
.contentArtian {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    animation: fadeLeft 0.2s;
}
.contentGogmaArtian {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    animation: fadeRight 0.2s;
}
.partSelectionContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: #fff;
    font-size: 14px;
}
@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.partContainer {
    position: relative;
    width: 100%;
    background: transparent;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.part {
    position: relative;
    width: 50%;
    height: 34px;
    background: transparent;
    border: none;
    border-radius: 7px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    z-index: 2;
}
.part:hover {
    color: #fff;
}
.selected {
    outline: 1px solid #606060;
    background: transparent;
    color: #fff;
}
.tarredDeviceContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}
.bonusesContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    gap: 5px;
}
.setBonusSelector {
    width: 100%;
}
.reinforcementsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: #fff;
    font-size: 14px;
}
.reinforcement {
    position: relative;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.reinforcementWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.reinforcementInner {
    width: 100%;
    height: 44px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
}
.reinforcementInnerLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.reinforcementInner p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.reinforcementInner:hover {
    border-color: rgba(255, 255, 255, 0.2);
}
.reinforcementDropdown {
    position: absolute;
    top: 49px;
    left: 0;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    background: #0A0A0A;
    z-index: 3;
    padding: 5px;
    max-height: 400px;
    overflow-y: auto;
}
.reinforcementDropdown::-webkit-scrollbar {
    width: 10px;
}
.reinforcementDropdown::-webkit-scrollbar-track {
    background: transparent;
}
.reinforcementDropdown::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.chevronIcon {
    width: 16px;
    height: 16px;
    color: #fff;
}
.reinforcementDropdown button {
    width: 100%;
    height: 40px;
    color: #fff;
    border: none;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
    font-size: 14px;
}
.reinforcementDropdown button:hover {
    background: rgba(255, 255, 255, 0.1);
}
.lvlWrapper {
    position: relative;
    width: 80px;
    height: 44px;
}
.lvlContainer {
    height: 100%;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 10px;
    cursor: pointer;
}
.lvlContainer:hover {
    border-color: rgba(255, 255, 255, 0.2);
}
.addBtnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.addBtn {
    width: 100%;
    max-width: 300px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2d7a4d;
    border: 1px solid #57ff9d;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}
.addBtn:hover {
    background: #1d4f32;
}
.addBtn:disabled {
    cursor: not-allowed;
    background: #102b1b;
    border-color: #287548;
    color: rgba(255, 255, 255, 0.6);
}
.addBtn:disabled:hover {
    background: #153823;
}
.bottomShadow {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 4;
    background: linear-gradient(to bottom, transparent, #0A0A0A);
    pointer-events: none;
}
@media (max-width: 500px) {
    .selectorBtn:hover {
        background: transparent;
    }
}

:root {
    --artian-icon-size: 0.32;
}

.skillIcon {
    display: inline-block;
    flex-shrink: 0;
    width: calc(100px * var(--artian-icon-size));
    height: calc(100px * var(--artian-icon-size));
    background-image: url("@/app/assets/skills.png");
    background-size: calc(1400px * var(--artian-icon-size)) calc(100px * var(--artian-icon-size)); /* or set to sheet width/height if scaling */
    background-repeat: no-repeat;
}
.setBonusSkill {
    background-position: calc((-100px * var(--artian-icon-size)) * 13) 0;
}
.groupSkill {
    background-position: calc((-100px * var(--artian-icon-size)) * 12) 0;
}

.weaponIcon {
    display: inline-block;
    flex-shrink: 0;
    width: calc(64px * var(--weapon-icon-size));
    height: calc(64px * var(--weapon-icon-size));
    background-image: url("../../assets/gear.png");
    background-size: calc(1280px * var(--weapon-icon-size)) calc(832px * var(--weapon-icon-size)); /* or set to sheet width/height if scaling */
    background-repeat: no-repeat;
}
.bow {
    background-position: calc((-64px * 13) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.charge-blade {
    background-position: calc((-64px * 9) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.dual-blades {
    background-position: calc((-64px * 3) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.great-sword {
    background-position: calc((-64px * 1) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.gunlance {
    background-position: calc((-64px * 5) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.hammer {
    background-position: calc((-64px * 6) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.heavy-bowgun {
    background-position: calc((-64px * 12) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.hunting-horn {
    background-position: calc((-64px * 7) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.insect-glaive {
    background-position: calc((-64px * 10) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.lance {
    background-position: calc((-64px * 4) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.light-bowgun {
    background-position: calc((-64px * 11) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.long-sword {
    background-position: calc((-64px * 2) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.switch-axe {
    background-position: calc((-64px * 8) * var(--weapon-icon-size)) calc(-64px * var(--weapon-icon-size));
}
.sword-shield {
    background-position: 0 calc(-64px * var(--weapon-icon-size));
}