:root {
    --size-factor: 0.30;
}
.skillFilterContainer {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    position: relative;
}
.skillFilterWrapper {
    width: 100%;
    max-width: 400px;
    position: relative;
}
.skillFilter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 14px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
}
.skillFilterLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.skillFilter:hover {
    background: rgba(255, 255, 255, 0.05);
}
.lvlSelectorWrapper {
    position: relative;
}
.lvlSelectorContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 0 10px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.lvlSelectorContainer:hover {
    background: rgba(255, 255, 255, 0.05);

}
.lvlSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lvlSelector span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
.lvlSelector span > * {
    width: 20px;
    height: 20px;
    color: #fff;
    transition: 0.3s;
    will-change: transform;
}
.skillLvlDropdown {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #040404;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    z-index: 2;
    padding: 5px;
}
.skillLvlDropdown.open {
    display: flex;
}
.skillLvlDropdown button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
}
.skillLvlDropdown button:hover {
    background: rgba(255, 255, 255, 0.05);
}
.removeSkillFilterBtn {
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.removeSkillFilterBtn:hover .xmarkIcon {
    transform: scale(1.1);
}
.xmarkIcon {
    width: 26px;
    height: 26px;
    color: #fff;
    transition: 0.15s;
    will-change: transform;
}
.dropDownIcon {
    width: 20px;
    height: 20px;
    color: #fff;
    flex-shrink: 0;
}
.skillFilterDropdown {
    display: none;
    position: absolute;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    max-width: 400px;
    height: 400px;
    background: #040404;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    z-index: 3;
    overflow: hidden;
}
.searchContainer input:focus {
    border-color: #fff;
}
.searchContainer {
    position: sticky;
    top: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 5px;
    background: #040404;
}
.searchContainer input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    outline: none;
    border-radius: 4px;
    padding: 0 10px;
    color: #fff;
    font-size: 16px;
}
.skillsContainer {
    width: 100%;
    height: 100%;
    padding: 0 5px 5px 5px;
    overflow: auto;
}
.skillsContainer::-webkit-scrollbar {
    width: 20px;
}

.skillsContainer::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.skillsContainer::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
    border: 6px solid transparent;
    background-clip: padding-box;
    height: 50px;
}
.skillFilterDropdown.open {
    display: flex;
}
.skillFilterDropdown button {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    gap: 5px;
    text-align: start
}
.skillFilterDropdown button:hover {
    background: rgba(255, 255, 255, 0.05);
}
.skillIcon {
    display: inline-block;
    flex-shrink: 0;
    width: calc(100px * var(--size-factor));
    height: calc(100px * var(--size-factor));
    background-image: url("../../../assets/skills.png");
    background-size: calc(1400px * var(--size-factor)) calc(100px * var(--size-factor)); /* or set to sheet width/height if scaling */
    background-repeat: no-repeat;
}
.skill1 {
    background-position: 0 0;
}
.skill2 {
    background-position: calc(-100px * var(--size-factor)) 0;
}
.skill3 {
    background-position: calc(-200px * var(--size-factor)) 0;
}
.skill4 {
    background-position: calc(-300px * var(--size-factor)) 0;
}
.skill5 {
    background-position: calc(-400px * var(--size-factor)) 0;
}
.skill6 {
    background-position: calc(-500px * var(--size-factor)) 0;
}
.skill7 {
    background-position: calc(-600px * var(--size-factor)) 0;
}
.skill8 {
    background-position: calc(-700px * var(--size-factor)) 0;
}
.skill9 {
    background-position: calc(-800px * var(--size-factor)) 0;
}
.skill10 {
    background-position: calc(-900px * var(--size-factor)) 0;
}
.skill11 {
    background-position: calc(-1000px * var(--size-factor)) 0;
}
.skill12 {
    background-position: calc(-1100px * var(--size-factor)) 0;
}
.skill13 {
    background-position: calc(-1200px * var(--size-factor)) 0;
}
.skill14 {
    background-position: calc(-1300px * var(--size-factor)) 0;
}
@media (max-width: 500px) {
    .skillFilterContainer {
        font-size: 12px;
    }
}
@media (max-width: 350px) {
    .lvlText {
        display: none;
    }
}